[scheduling]
    cycling mode = integer
    initial cycle point = 1
    [[dependencies]]
        P1 = """
            sleepy[-P1] => flaky
            flaky:succeed => happy
            flaky:fail => grumpy
            happy | grumpy => sleepy
        """
[runtime]
    [[sleepy]]
        script = sleep 1
    [[sleepy]]
        script = sleep 3
    [[flaky]]
        script = if [[ $(( RANDOM % 2 )) -eq 1 ]]; then exit 1; fi
